@import "../functions/_functions.scss";

body {
  min-height: 100vh;
  font-family: $sfpro_font_family;
  min-width: $phone_end;
  background-color: $grey;
}

.default-layout, #__nuxt {
  height: 100%;
  width: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}

.standart-padding {
  padding-right: viewport-calculate($notebook_start, $phone_start, 50px, 18px);
  padding-left: viewport-calculate($notebook_start, $phone_start, 50px, 18px);
}