$white: #FFFFFF;
$orange: #EE964B;
$red: #F95738;
$grey: #5C6784;
$light_black: #454545;
$black: #212121;
$green: #0EA976;
$light_grey: #F7F7F9;
$blue_grey: #F4F6FC;
$dark_grey: #DDE2F2;
$extra_dark_grey: #878787;