@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: url("#{$furl}.ttf");
  }
}

$montserrat_font_family: "Montserrat", sans-serif;
@include font("Montserrat", normal, 100, "@/assets/fonts/Montserrat-Thin");
@include font("Montserrat", italic, 100, "@/assets/fonts/Montserrat-ThinItalic");
@include font("Montserrat", normal, 200, "@/assets/fonts/Montserrat-ExtraLight");
@include font("Montserrat", italic, 200, "@/assets/fonts/Montserrat-ExtraLightItalic");
@include font("Montserrat", normal, 300, "@/assets/fonts/Montserrat-Light");
@include font("Montserrat", italic, 300, "@/assets/fonts/Montserrat-LightItalic");
@include font("Montserrat", normal, 400, "@/assets/fonts/Montserrat-Regular");
@include font("Montserrat", italic, 400, "@/assets/fonts/Montserrat-Italic");
@include font("Montserrat", normal, 500, "@/assets/fonts/Montserrat-Medium");
@include font("Montserrat", italic, 500, "@/assets/fonts/Montserrat-MediumItalic");
@include font("Montserrat", normal, 600, "@/assets/fonts/Montserrat-SemiBold");
@include font("Montserrat", italic, 600, "@/assets/fonts/Montserrat-SemiBoldItalic");
@include font("Montserrat", normal, 700, "@/assets/fonts/Montserrat-Bold");
@include font("Montserrat", italic, 700, "@/assets/fonts/Montserrat-BoldItalic");
@include font("Montserrat", normal, 800, "@/assets/fonts/Montserrat-ExtraBold");
@include font("Montserrat", italic, 800, "@/assets/fonts/Montserrat-ExtraBoldItalic");
@include font("Montserrat", normal, 900, "@/assets/fonts/Montserrat-Black");
@include font("Montserrat", italic, 900, "@/assets/fonts/Montserrat-BlackItalic");


$sfpro_font_family: "SFProDisplay", sans-serif;
@include font("SFProDisplay", normal, 100, "@/assets/fonts/SFProDisplay-Thin");
@include font("SFProDisplay", italic, 100, "@/assets/fonts/SFProDisplay-ThinItalic");
@include font("SFProDisplay", normal, 200, "@/assets/fonts/SFProDisplay-ExtraLight");
@include font("SFProDisplay", italic, 200, "@/assets/fonts/SFProDisplay-ExtraLightItalic");
@include font("SFProDisplay", normal, 300, "@/assets/fonts/SFProDisplay-Light");
@include font("SFProDisplay", italic, 300, "@/assets/fonts/SFProDisplay-LightItalic");
@include font("SFProDisplay", normal, 400, "@/assets/fonts/SFProDisplay-Regular");
@include font("SFProDisplay", italic, 400, "@/assets/fonts/SFProDisplay-Italic");
@include font("SFProDisplay", normal, 500, "@/assets/fonts/SFProDisplay-Medium");
@include font("SFProDisplay", italic, 500, "@/assets/fonts/SFProDisplay-MediumItalic");
@include font("SFProDisplay", normal, 600, "@/assets/fonts/SFProDisplay-SemiBold");
@include font("SFProDisplay", italic, 600, "@/assets/fonts/SFProDisplay-SemiBoldItalic");
@include font("SFProDisplay", normal, 700, "@/assets/fonts/SFProDisplay-Bold");
@include font("SFProDisplay", italic, 700, "@/assets/fonts/SFProDisplay-BoldItalic");
@include font("SFProDisplay", normal, 800, "@/assets/fonts/SFProDisplay-ExtraBold");
@include font("SFProDisplay", italic, 800, "@/assets/fonts/SFProDisplay-ExtraBoldItalic");
@include font("SFProDisplay", normal, 900, "@/assets/fonts/SFProDisplay-Black");
@include font("SFProDisplay", italic, 900, "@/assets/fonts/SFProDisplay-BlackItalic");